.container .btn-add{margin-bottom: 30px;}
.table-list{table-layout: fixed;}
.table-list .btn-ok, .table-list .btn-cancel{display: none;}
.table-list input{display: none}
.edit .btn-ok,.edit .btn-cancel{display: inline-block}
.edit .btn-edit,.edit .btn-delete{display: none}
.edit input{display: inline-block}
.edit span{display: none}
